@using CoolEvents.Data
@model CoolEvents.ViewModels.Users.IndexVM
@{
    this.Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["title"] = "USERS";
}

<a href="/Users/Create">NEW</a>
<div class="grid">
    <div class="row" style="margin-bottom: 3vh;">

        <div class="col-1"><b>Username</b></div>
        <div class="col-2"><b>First Name</b></div>
        <div class="col-2"><b>Last Name</b></div>
        <div class="col-2"><b>Actions</b></div>

    </div>
@foreach(User item in Model.Items)
{
    <div class="row">
        <div class="col-1">@item.Username</div>
        <div class="col-2">@item.FirstName</div>
        <div class="col-2">@item.LastName</div>
        <div class="col-2">
            <a href="/Users/Edit?id=@item.Id">edit</a>
            <a href="/Users/Delete?id=@item.Id"
               onclick="return confirm('Delete Record?');">delete</a>
        </div>
    </div>
}
</div>