@model CoolEvents.ViewModels.Home.LoginVM
@{
    this.Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["title"] = "LOGIN";
}

<fieldset>
    <div class="login-container">
        <form action="/Home/Login" method="post">

            <h3>LOGIN: </h3>
            <div class="login-field">
                <input asp-for="Username" class="field" placeholder="Username">
                <span class="field-validation" asp-validation-for="Username"></span>
            </div>
            <div class="login-field">
                <input asp-for="Password" type="password" class="field" placeholder="Password">
                <span class="field-validation" asp-validation-for="Password"></span>
            </div>
            <div class="login-field">
                @Html.ValidationMessage("authError", new { @style = "right" })
            </div>

            <div class="login-field">
                <input type="submit" class="submit-bttn" value="Login" />
            </div>
        </form>
    </div>
</fieldset>