@model CoolEvents.ViewModels.Home.RegisterVM
@{
    this.Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["title"] = "Register";
}

<div class="login-container">
    <form action="/Home/Register" method="post">
        
    <h3>REGISTER: </h3>
        <div class="login-field">
            <input asp-for="Username" class="field" placeholder="Username">
            <span class="field-validation" asp-validation-for="Username"></span>
        </div>
        <div class="login-field">
            <input asp-for="FirstName" class="field" placeholder="First Name">
            <span class="field-validation" asp-validation-for="FirstName"></span>
        </div>
        <div class="login-field">
            <input asp-for="LastName" class="field" placeholder="Last Name">
            <span class="field-validation" asp-validation-for="LastName"></span>
        </div>
        <div class="login-field">
            <input asp-for="Password" type="password" class="field" placeholder="Password">
            <span class="field-validation" asp-validation-for="Password"></span>
        </div>
        <input type="submit" class="submit-bttn" value="Save" />
    </form>
</div>