@using CoolEvents.Data;
@using CoolEvents.ExtensionMethods


@{
    User loggedUser = this.ViewContext.HttpContext.Session.GetObject<User>("loggedUser");
}

<html>
<head>
    <title>@ViewData["title"]</title>
    <link href="~/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CoolEvents.styles.css" asp-append-version="true" />
</head>
<body>

    <style>
        .menu-container {
            border-bottom: solid grey;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 3vh 4vw 5vh 4vw;
            padding-bottom: 3vh;
        }

            .menu-container nav a {
                text-decoration: none;
                margin-left: 1.5vw;
                font-weight: 500;
            }
    </style>
    <div class="menu-container">
        <div>
            <h1>Cool Events :D</h1>
            <div>
                <span>
                    Hello, @(loggedUser == null ? "Annonymous" : loggedUser.Username)
                </span>
            </div>
        </div>
        <nav>
            <a href="/Home/Index">HOME</a>
            @if (loggedUser != null)
            {
                if (loggedUser.RoleId == 1)
                {
                    <a href="/Users/Index">USERS</a>
                }

                <a href="/Events/Index">EVENTS</a>
                <a href="/Tickets/Index">MY TICKETS</a>
                <a href="/Home/Logout">LOGOUT</a>
            }
            else
            {
                <a href="/Home/Login">LOGIN</a>
                <a href="/Home/Register">REGISTER</a>
            }
        </nav>
    </div>


    <div class="container">
        @RenderBody()
    </div>
</body>
</html>