<div style="margin-top: 3vh;">
    <h3>Sorry, you don't have permission! Try logging in. If you're already logged in as a user, then you are trying to access something that is supposed to be accessed by admins only! Have a great day! :)</h3>
</div>
